[Unit]
Description={{ description | default(container_service_name + ' container') }}
After=docker.service {{ after | default([]) | map('map_format', '%s.service' ) | join(' ') }}
Requires=docker.service

[Service]
Restart=always
ExecStartPre-=/etc/docker-services/{{ container_name }} destroy
ExecStartPre=/etc/docker-services/{{ container_name }} create
ExecStart=/usr/bin/docker start -a {{ container_name }}
ExecStop=/usr/bin/docker stop -t 2 {{ container_name }}

[Install]
WantedBy=local.target