[Unit]
Description=SabNZBd (Dockerized) 
Requires=docker.service

[Service]
ExecStartPre=/bin/sleep 1  
ExecStartPre=-/usr/bin/docker stop "{{ container_name }}"
ExecStartPre=-/usr/bin/docker rm "{{ container_name }}"
ExecStartPre=/usr/bin/docker create \
                             --restart=always \
                             --name "{{ container_name }}" \
                             -p {{ web_ui_http }}:8080 \
                             -p {{ web_ui_https }}:8201 \
                             -e PGID="{{ owner_group_id }}" \
                             -e PUID="{{ owner_user_id }}" \
                             -e TZ="{{ timezone }}" \
                             -v "{{ path_config }}:/config" \
                             -v "{{ path_complete }}:/downloads" \
                             -v "{{ path_incomplete }}:/incomplete" \
                             linuxserver/sabnzbd:{{ container_tag }}
ExecStart=/usr/bin/docker container start --attach "{{ container_name }}"


ExecStop=/usr/bin/docker stop "{{ container_name }}" 
ExecStopPost=/usr/bin/docker rm "{{ container_name }}"  

[Install]
